body {
	font-family: monospace;
	text-wrap: balance;
  max-width: 75em;
  margin: auto;
	padding: 1em;
}

strong {
	/* added specifically because "35-50 minutes" was wrapping at "-"*/
	white-space: nowrap;
}

table {
	border-collapse: collapse;
	border: solid;
	text-wrap: nowrap;

	width: max-content;
	max-width: 100%;
}

col {
	width: unset !important;
}

td {
	vertical-align: top;
	padding-right: .5em;
	padding-left: .5em;
}

th {
	border-bottom: solid;
	text-align: center;
}

:is(td,th):nth-child(1){
	text-align: center;
	border-right: solid;
	display:none;
}

td:nth-child(2){
	text-align: right;
}

td:last-child{
	text-wrap: balance;
}

/* borderless step column
th:nth-child(1){
	border: none;
}

col:not(:nth-child(1)){
	border-top: solid;
	border-bottom: solid;
}

col:nth-child(2){
	border-left: solid;
}

col:last-child{
	border-right: solid;
}

td:nth-child(2) {
	border-left: solid;
}
*/

/* ALTERNATIVE */
td:nth-child(2):not(:empty):after{
	content: "–";
	padding-left:.5em;
}
td:nth-child(3){
	padding-left:0;
}

